<div class="category-details" *ngIf="category">
    <h2 class="category-title">{{ category.title }}</h2>
    <div class="countdown-timer mb-3">
      <p class="timer-text">{{ formatTime(countdown) }}</p>
    </div>
    <div class="question mb-3">
      <h3>ข้อที่ {{currentQuestionIndex + 1}}&nbsp;&nbsp;{{ category.questionInfo[currentQuestionIndex].title }}</h3>
      <ul>
        <li
          *ngFor="
            let answer of category.questionInfo[currentQuestionIndex]
              .questionAnswerInfo
          "
        >
          <input
            type="checkbox"
            id="{{ answer.questionAnswerId }}"
            [checked]="isCheckboxChecked(answer.questionAnswerId)"
            (change)="updateCheckboxState(answer.questionAnswerId)"
          />
          <label for="{{ answer.questionAnswerId }}">{{ answer.answer }}</label>
        </li>
      </ul>
    </div>
    <div class="pagination">
      <button (click)="prevQuestion()" [disabled]="currentQuestionIndex === 0">
        Previous
      </button>
      <span>Question {{ currentQuestionIndex + 1 }} / {{ totalQuestions }}</span>
      <button
        (click)="nextQuestion()"
        [disabled]="currentQuestionIndex === totalQuestions - 1"
      >
        Next
      </button>
    </div>
    <div class="container mt-4">
      <button class="submit-button" (click)="submitResult()">Submit</button>
    </div>
  </div>
  