@import "bootstrap/dist/css/bootstrap.min.css";


.invalid-feedback {
  color: red;
  font-size: 0.875rem;
  /* Adjust font size as needed */
  margin-top: 0.25rem;
  /* Adjust margin top as needed */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
