<div class="question-list" *ngIf="questionCategoryList">
    <h2>Question List</h2>
    <div class="mt-4">
      <ul class="category-list">
        <li
          *ngFor="let category of questionCategoryList; let i = index"
          class="category-item"
          (click)="goToCategoryDetail(category.questionCategoryId)"
          (keyup.enter)="goToCategoryDetail(category.questionCategoryId)"
          tabindex="0"
        >
          <span class="index">{{ i + 1 }}.</span>
          <span class="title">{{ category.title }}</span>
        </li>
      </ul>
    </div>
  </div>
  